# HW

Мои Фамилия Имя: Кулаев Максим

In [102]:
import numpy as np
import pandas as pd

##### Загрузите датасет titanic.csv

In [212]:
df_titanic = pd.read_csv('titanic.csv')

In [213]:
df_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [214]:
df_titanic.shape

(891, 12)

In [215]:
df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

> Обратите внимание на разное количество значений переменных
Если это так - то у вас пропуски в данных. Такое бывает. 
Например в этом датасете не получилось выяснить всех подробностей у некоторых людей в виду утери данных, невозможности узнать или восстановить их

In [216]:
df_titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

> Давайте возьмем для начала только несколько признаков, позже - вы увеличите их количество и сделаете соответствующую обработку.

In [223]:
columns = ['Sex', 'Age', 'Pclass', 'Fare', 'Cabin', 'Embarked', 'Survived'] #добавил признаков

In [266]:
data = df_titanic[columns]
#simple_train = df_titanic[columns].loc[:500]
#simple_test = df_titanic[columns].loc[500:]

> мы пока не умеем на уровне алгоритма работать с пропущенными значениями. 
Представьте вам дают 5-мерный вектор у которого заполнены только три компоненты и другой такой же вектор но у него заполнены лишь две  компоненты.  Как померить их сходство????

distance_between( [1,0,1, NaN, NaN], [NaN, 1, 1, NaN, NaN] )

> один из вариантов - заполнить какими то значениями - например если это возраст - то заполнить средним по датасету или нулем.

>> на будущее - в sklearn есть такой модуль - http://scikit-learn.org/stable/modules/impute.html но сейчас можете заполнить пропуски средствами pandas - метод fillna()

##### Заполните пропущенные значения чем нибудь

In [280]:
data_new=data[['Sex', 'Age', 'Pclass', 'Fare', 'Embarked', 'Survived']]
#вырезаю тип кабины
data_new['Cabin_type']=data.apply(lambda x: str(x['Cabin'])[0] if str(x['Cabin'])[0]!='n' else np.NaN, axis=1)

In [283]:
#эти столбцы заполеяются по количеству классов, так как присутствуют пропущенные значения, и они закодируются нулевым вектором
data2=pd.get_dummies(data_new, columns=['Cabin_type', 'Embarked'])

In [284]:
#пол заполняется по количеству классов-1, так как пропусков нет. благодаря этому не будет эффекта мультиколлинеарности
data3=pd.get_dummies(data2, columns=['Sex'], drop_first=True)

In [290]:
data4 = data3.fillna(data3.mean())

> мы чемпионы. Но мы понимаем, что алгоритм у нас метрический - он не понимает как померить близость векторов в которых содержатся строки

distance( [1,1,0,'мужик'], [1, 0, 1, 'принцесска'] )

> поэтому давайте заведем признак is_man который будет принимать значение 0 или 1.

##### Заведите бинарный признак отвечающий за пол. Строковый удалите

хинт - есть метод apply()

In [137]:
#simple_train.Sex = simple_train.Sex.apply(lambda x: 1 if x=='male' else 0)
#simple_test.Sex = simple_test.Sex.apply(lambda x: 1 if x=='male' else 0)

In [291]:
data4.head(5)

,Age,Pclass,Fare,Survived,Cabin_type_A,Cabin_type_B,Cabin_type_C,Cabin_type_D,Cabin_type_E,Cabin_type_F,Cabin_type_G,Cabin_type_T,Embarked_C,Embarked_Q,Embarked_S,Sex_male
0,22.0,3,7.2500,0,0,0,0,0,0,0,0,0,0,0,1,1
1,38.0,1,71.2833,1,0,0,1,0,0,0,0,0,1,0,0,0
2,26.0,3,7.9250,1,0,0,0,0,0,0,0,0,0,0,1,0
3,35.0,1,53.1000,1,0,0,1,0,0,0,0,0,0,0,1,0
4,35.0,3,8.0500,0,0,0,0,0,0,0,0,0,0,0,1,1

##### Сформируйте трейн и тест выборку, где в X лежат признаки 'Sex', 'Age', 'Pclass', а в у - Survived

Результат - numpy array

hint - у pandas есть метод drop() и атрибут values; Пощупайте их

In [322]:
#simple_train2 = simple_train[['Sex', 'Age', 'Pclass', 'Survived']]
#simple_test2 = simple_test[['Sex', 'Age', 'Pclass', 'Survived']]
X = np.array(data4.drop(columns=['Survived']))
y = np.array(data4[['Survived']])

In [361]:
from sklearn.model_selection import StratifiedShuffleSplit
spl = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=785735)
spl.get_n_splits(X, y)
for train_index, test_index in spl.split(X, y):
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]

In [362]:
#делю стратифицированно на трэйн, валидэйт и тест
from sklearn.model_selection import StratifiedShuffleSplit
spl2 = StratifiedShuffleSplit(n_splits=1, test_size=0.25, random_state=7855735)
spl2.get_n_splits(X_train, y_train)
for train_index, val_index in spl2.split(X_train, y_train):
    X_train, X_val = X[train_index], X[val_index]
    y_train, y_val = y[train_index], y[val_index]

In [363]:
assert isinstance(X_train, np.ndarray)
assert isinstance(X_test, np.ndarray)
assert isinstance(y_train, np.ndarray)
assert isinstance(y_test, np.ndarray)

In [364]:
assert X_train.shape[0] == y_train.shape[0]
assert X_test.shape[0] == y_test.shape[0]

In [365]:
assert not np.any(np.isnan(X_train)), 'у вас в данных есть пропущенные значения. Заполните их или удалите'
assert not np.any(np.isnan(X_test)), 'у вас в данных есть пропущенные значения. Заполните их или удалите'

##### Реализуйте KNN. Сами, как делали это на лекции. 

Можете улучшить его.
(например использовать kd-tree для быстрого поиска ближайших соседей, 
 или обходить соседей и класть расстояния в мин-кучу - тогда вы быстрее будете набирать их, без сортировки.)

In [366]:
#нормирую тест на распределение трэйн выборки, так как на практике у нас нет информации о распределении теста
X_train_mean=X_train.mean(axis=0)
X_train_std=X_train.std(axis=0)

X_train=(X_train-X_train_mean)/(X_train_std+1e-6)
X_test=(X_test-X_train_mean)/(X_train_std+1e-6)
X_val=(X_val-X_train_mean)/(X_train_std+1e-6)

In [367]:
from numpy.linalg import *
class KNN:
    """
    simple KNN classifier
    """
    
    def __init__(self, n):
        self.n = n
        
    def fit(self, X, y):
        self.X = X
        self.y = y
    
    def predict(self, X):
        y = []
        assert len(X.shape) == 2
        num_features = len(X[0])
        for vect in X:
            d = 0
            for j in range(num_features):
                d += (self.X[:, j]-vect[j])**2
            d = np.sqrt(d)
            idx = np.argsort(d)[:self.n]
            counts = np.bincount(self.y[idx].reshape(self.n))
            prediction = np.argmax(counts)
            y.append(prediction)
        return y

In [373]:
neighb=[i+1 for i in range(30)]

In [374]:
#подбор оптимального числа соседей
from sklearn.metrics import accuracy_score
for j in neighb:
    knn = KNN(j)
    knn.fit(X_train, y_train)
    y_pred = knn.predict(X_val)
    print(j, accuracy_score(y_val, y_pred))

1 0.7191011235955056
2 0.7528089887640449
3 0.7584269662921348
4 0.7303370786516854
5 0.7640449438202247
6 0.7528089887640449
7 0.7921348314606742
8 0.7584269662921348
9 0.7752808988764045
10 0.7584269662921348
11 0.7640449438202247
12 0.7584269662921348
13 0.7808988764044944
14 0.7808988764044944
15 0.7865168539325843
16 0.7696629213483146
17 0.7808988764044944
18 0.7752808988764045
19 0.7696629213483146
20 0.7696629213483146
21 0.7808988764044944
22 0.7584269662921348
23 0.7696629213483146
24 0.7921348314606742
25 0.7752808988764045
26 0.7696629213483146
27 0.7696629213483146
28 0.7640449438202247
29 0.7584269662921348
30 0.7696629213483146

In [375]:
opt = 7
knn = KNN(opt)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
print(accuracy_score(y_test, y_pred))

0.88268156424581

##### посчитайте руками (не используя sklearn) качество вашего предсказания

In [376]:
acc=0
for i in range(y_test.shape[0]):
    if y_pred[i]==y_test[i]:
        acc+=1
acc/=y_test.shape[0]

print('доля правильных ответов:', acc)

доля правильных ответов: 0.88268156424581

In [377]:
np.unique(y_pred)

array([0, 1], dtype=int64)

> Мы получили бейслайн решение. Оно должно давать скорр в районе 0.76

____

In [379]:
### можете проверить себя

from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.8770949720670391

In [380]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

clf=KNeighborsClassifier(n_neighbors=7)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

np.unique(y_pred)

print(accuracy_score(y_test, y_pred))

0.8770949720670391

C:\Users\Maxim\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """

##### TODO продолжение домашки

1) Добавьте еще признаков. Как минимум хочется чтобы вы добавили в X такие признаки как Cabin, Fare и Embarked.

2) Предобработайте признаки для нашего алгоритма. Поминим - что он (метрический) основан на том, что мы будем считать расстояния. 
Для этого нужно подготовить данные соответственно - привести к одному масштабу и проч. 
(https://sebastianraschka.com/Articles/2014_about_feature_scaling.html#about-standardization)

Когда мы делаем такие преобразования - хочется чтобы знания и любая статистика о тесте не проникали в обучение - 
иначе будет проблема data leakage, а она в свою очередь приведет к переобучению.

Поэтому аккуратно делим на трейн-тест (можно на трейн-валидацию-тест) считаем статистики на обучающей части и применяем их к тестовой.


3) Дальше. Признаки с пропусками - вы знаете что делать. Нужно проявить фантазию и погуглить как их правильно заполнять.

4) Признаки бывают непрерывными и категориальными. К категориальным признакам можно отнести например строки, тип палубы и прочее.
Как их предобрабатывать - зависит от алгоритма. 
Самый простой способ, что сделать с категориальными признаками - представить в виде dummy признаков - так называемый one hot encoding.

4) признак Cabin мб может помочь, но нужно проявить фантазию и вытащить что нибудь полезное.
Например - вытащить оттуда тип палубы.

5) Попробуйте разбить данные на три части (трейн-валидацию-тест) и подобрать гиперпараметр - число ближайших соседей. 
Как вариант можно выбирать на валидации алгоритм который дал наилучший скорр, а затем посмотреть его качество на тесте.

6) советоваться друг с другом можно. Списывать нельзя. Читайте треды kaggle. Спрашивайте преподавателей! Запилите крутые фичи!